In [1]:
# INST414 Final Project Sprint 2

## Importing necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import chi2_contingency

# select columns to read and keep
cols_to_keep = ['Data_Value', 'Race/Ethnicity', 'Age(months)', 'Sex', 'LocationDesc', 'LocationAbbr', 'YearStart', 'YearEnd', 'Low_Confidence_Limit', 'High_Confidence_Limit', 'Sample_Size']
df = pd.read_csv("/Users/virginialee/Downloads/WIC_data.csv", usecols=cols_to_keep)

df.head()
df.shape

# rename columns to be more intuitive
df.rename(columns={
    'Data_Value': 'pct_overweight',
    'Race/Ethnicity': 'race',
    'Age(months)': 'age_months'
}, inplace=True)
df.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,pct_overweight,Low_Confidence_Limit,High_Confidence_Limit,Sample_Size,age_months,Sex,race
0,2008,2008,AL,Alabama,15.3,14.7,15.8,"18,219",24 - 35,NaN,NaN
1,2008,2008,AL,Alabama,14.9,14.4,15.5,"14,796",36 - 47,NaN,NaN
2,2008,2008,AL,Alabama,16.4,15.6,17.1,"10,272",48 - 59,NaN,NaN
3,2008,2008,AL,Alabama,25.0,19.3,30.7,228,NaN,NaN,American Indian/Alaska Native
4,2008,2008,AL,Alabama,8.8,5.4,12.2,273,NaN,NaN,Asian/Pacific Islander